{% extends 'base.html.twig' %}

{% block title %} {{ vigneron.getNom()}} {{ vigneron.getPrenom()}} {% endblock %}

{% block body %}
    <div id ="show-vigneron-body">
        <main id="show-vigneron">
            <section id="vigneronInfos">
                <aside>
                    <h2 class="handWriting-text">{{ vigneron.getNom()}} {{ vigneron.getPrenom()}}</h2>
                    <p class="myriad-text">Le vigneron <strong>{{ vigneron.getNom()}} {{ vigneron.getPrenom()}}</strong> est situé dans la ville de <i>{{ vigneron.getVille()}}</i>
                    dont l'adresse est <i>{{ vigneron.getCodePostal()}}</i> <i>{{ vigneron.getAdresse()}}</i></p>
                </aside>
            </section>
        </main>

    </div>


    <h1> {{ vigneron.getNom()}} {{ vigneron.getPrenom()}} </h1>

    <div class="vigneron"><dl>
        <dt>Nom : {{ vigneron.getNom()}} </dt>
        <dt>Prénom : {{ vigneron.getPrenom()}} </dt>
        <dt>Adresse : {{ vigneron.getAdresse()}} </dt>
        <dt>Code Postal : {{ vigneron.getCodePostal()}} </dt>
        <dt>Ville : {{ vigneron.getVille()}} </dt>
    </dl></div>

    <div class="produit"><dl>
        <dt>Produit : {{ vigneron.produit.libelle }}</dt>
        <dt>Prix : {{ vigneron.produit.prix }}</dt>
    </dl></div>

    <div class="cru"><dl>
        <dt>Cru : {{ vigneron.cru.libelle }}</dt>
        <dt>Horaire : {{ vigneron.cru.horaire }}</dt>
        <dt>Informations : {{ vigneron.cru.infos }}</dt>
    </dl></div>

{% endblock %}