{% extends 'base.html.twig' %}

{% block title %} {{ vigneron.getNom()}} {{ vigneron.getPrenom()}} {% endblock %}

{% block body %}
    <h1> {{ vigneron.getNom()}} {{ vigneron.getPrenom()}} </h1>

    <div class="vigneron"><dl>
        <dt>Nom : {{ vigneron.getNom()}} </dt>
        <dt>Prénom : {{ vigneron.getPrenom()}} </dt>
        <dt>Adresse : {{ vigneron.getAdresse()}} </dt>
        <dt>Code Postal : {{ vigneron.getCodePostal()}} </dt>
        <dt>Ville : {{ vigneron.getVille()}} </dt>
    </dl></div>

    <div class="produit"><dl>
        <dt>Produit : {{ vigneron.produit.libelle }}</dt>
        <dt>Prix : {{ vigneron.produit.prix }}</dt>
    </dl></div>

    <div class="cru"><dl>
        <dt>Cru : {{ vigneron.cru.libelle }}</dt>
        <dt>Horaire : {{ vigneron.cru.horaire }}</dt>
        <dt>Informations : {{ vigneron.cru.infos }}</dt>
    </dl></div>

{% endblock %}