{% extends 'base.html.twig' %}

{% block title %}{{ compte.getLogin() }}{% endblock %}

{% block body %}

    <h1>{{ compte.getLogin() }}</h1>

    <dl>
        <dt>Login : {{ compte.getLogin() }}</dt>
        <dt>Email : {{ compte.getEmail() }}</dt>
        <dt>Date de naissance : {{ compte.getDateNaiss().format('Y-m-d') }}</dt>
    </dl>


{% endblock %}
