{% extends 'base.html.twig' %}

{% block title %}{{ compte.getLogin() }}{% endblock %}

{% block body %}

    <div class="flex profil-d"><div class="ProfilTypoTitre"><h1>{{ compte.getLogin() }}</h1></div>

        <div class="ecriture_avenirProfil"><br>
        <dt>Login : {{ compte.getLogin() }}</dt>
        <dt>Email : {{ compte.getEmail() }}</dt>
        <dt>Date de naissance : {{ compte.getDateNaiss().format('d-m-y') }}</dt></br>
        <a class="btn_btn-lg_btn-primaryProfil" href="{{ path('app_profil_update',{'id': app.user.id}) }}">Modifier</a>
    </dl></div></div>


{% endblock %}
