{% extends 'base.html.twig' %}

{% block title %}{{ compte.getLogin() }}{% endblock %}

{% block body %}

    <div class="profilInfo"><h1>{{ compte.getLogin() }}</h1></div>

        <div class="profil"><dl>
        <dt>Login : {{ compte.getLogin() }}</dt>
        <dt>Email : {{ compte.getEmail() }}</dt>
        <dt>Date de naissance : {{ compte.getDateNaiss().format('d-m-y') }}</dt>
    </dl></div>


{% endblock %}
