{% extends 'base.html.twig' %}

{% block title %} Édition de {{ compte.getLogin() }} {% endblock %}

{% block body %}

    <div class="formu"><h1>Edition de {{ compte.getLogin() }}</h1>

    {{ form_start(form) }}
        <div class="ecriture_avenir">{{ form_row(form.login, {'label': 'Identifiant : '}) }}</div>
        <div class="ecriture_avenir">{{ form_row(form.email, {'label': 'Mail : '}) }}</div>
        <div class="ecriture_avenir">{{ form_row(form.date_naiss, {'label': 'Date de naissance : '}) }}</div></br>
        <button type="submit" class="btn_btn-lg_btn-primaryProfilUpdate">Modifier</button>
    {{ form_end(form) }}</div>

{% endblock %}
