<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="image/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="image/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="image/favicon/favicon-16x16.png">
        <link rel="manifest" href="image/favicon/site.webmanifest">
        <link rel="mask-icon" href="image/favicon/safari-pinned-tab.svg" color="#000000">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <meta name="msapplication-TileColor" content="#fffae6">
        <meta name="theme-color" content="#fffae6">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    <nav>
        <ul class="nav-link">
            <li>
                <a class="nav-title" href="#"><img src="{{ asset('image/favicon/favicon-32x32.png') }}"></a>
            </li>
            <li class="nav-item">
                <a href = "{{ path('app_carte') }}" class="nav-link">Mes cartes</a>
            </li>
            <li>
                <a href = "{{ path('app_vigneron') }}" class="nav-link">Les vignerons partenaires</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">Inscription</a>
                </li>

            {% endif %}
            <li class="dropdown">
                <button class="btn-flag">
                    <img src="{{ asset('image/flags/france.png') }}">
                </button>
                <div class="dropdown-flags">
                    <img src="{{ asset('image/flags/france.png') }}">
                    <img src="{{ asset('image/flags/united-states.png') }}">
                </div>
            </li>
        </ul>
    </nav>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/scripts.js') }}" ></script>
        {% endblock %}
    </body>
</html>
