{% extends 'base.html.twig' %}

{% block body %}
<div id ="show-animation-body">
    <main id="show-animation">
        <section id="animationInfos">
                <aside>
                    <h2 class="handWriting-text">{{ cru.getLibelle()}}</h2>
                    <p class="myriad-text"><strong>{{ cru.libelle }}</strong> a pour horaire d'ouverture :<i>{{ cru.horaire }}</i></p><br>
                    <p class ="myriad-text">Informations supplémentaires sur le cru : {{ cru.infos }}</p>
                    {% if cru.vigneronsCru is empty %}
                        <p class="myriad-text">Ce cru n'est dirigé par aucun vigneron.</p>
                    {% else %}
                        <p class="myriad-text">Liste des vignerons pour ce cru :</p>
                        <ul>
                            {% for vigneron in cru.vigneronsCru %}
                                <div class="liens">
                                    <a href="{{ path('app_vigneron_show', {'id': vigneron.id}) }}">
                                        <span class="gotham-text"><strong>{{ vigneron.nom }}</strong></span>
                                    </a>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </aside>
        </section>
    </main>
</div>

{% endblock %}

{% block title %}

{% endblock %}

