<ul>
    {% if lastCard is not empty %}
        Cartes récemment visitées :
        {% for card in lastCard %}
            <li class="carte">
                <a href=" {{ path('app_carte_show', {'id': card.id}) }}"><img src="/uploads/img/{{card.contenuImage}}" alt="{{ card.nom }}"></a>
            </li>
        {% endfor %}
    {% endif %}
    Votre collection de cartes :
    {% for carte in liste %}
        <li class="carte">
            <a href=" {{ path('app_carte_show', {'id': carte.id}) }}"><img src="/uploads/img/{{carte.contenuImage}}" alt="{{ carte.nom }}"></a>
        </li>
    {% endfor %}
</ul>