{% extends 'base.html.twig' %}

{% block title %}
    Liste des cartes
{% endblock %}

{% block body %}
    <h1>Liste des cartes</h1>
    <ul>
        {% for carte in liste %}
            <li class="carte">
                <pre>
                Nom :
                    {{ carte.nom }}
                Type :
                    {{ carte.type }}
                Cru :
                    {{ carte.cru }}
                Region :
                    {{ carte.region }}
                Superficie :
                    {{ carte.superficie }}
                {{ carte.contenuimage }}
                </pre>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

