{% extends 'base.html.twig' %}

{% block title %}
    Liste des cartes
{% endblock %}

{% block body %}
    <h1>Liste des cartes</h1>
    <form class="carte-searchbar" role="search" action="{{ path('app_carte') }}">
        <input class="form-control me-2" name="search" value="{{ search|default('') }}" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <form class="carte-category" action="{{ path('app_carte') }}">
        <select name="catégorie" id="carte-category">
            <option value="">Toutes catégories</option>
            <option value="2">Chardonnay</option>
            <option value="3">Meuniers</option>
            <option value="1">Pinots noirs</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    <ul>
        {% for carte in liste %}
            <li class="carte">
                <a href=" {{ path('app_carte_show', {'id': carte.id}) }}"><img src="/uploads/img/{{carte.contenuImage}}" alt="{{ carte.nom }}"></a>
                <p class="carte-name">{{ carte.nom }}</p>
                <p class="carte-type">{{ carte.type }}</p>
                <p class="carte-cru">{{ carte.cru }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

