{% extends 'base.html.twig' %}

{% block body %}
    <ul class="carte">
            <li class="carteNom">
                Nom : {{ carte.nom }}
            </li>
            <li class="carteType">
                Type : {{ carte.type }}
            </li>
            <li class="carteCru">
                Cru : {{ carte.cru }}
            </li>
            <li class="carteRegion">
                Region : {{ carte.region }}
            </li>
            <li class="carteSuperficie">
                Superficie : {{ carte.superficie }} m&#178;
            </li>
    </ul>
{% endblock %}

{% block title %}

{% endblock %}

