{% extends 'base.html.twig' %}

{% block body %}
    <div id ="show-carte-body">
        <main id = "show-carte">
            <section id="carteInfo">
                <img src="/uploads/img/{{carte.contenuImage}}" alt="Carte du vignoble">
                <aside>
                    <h2 class="handWriting-text">{{ carte.nom }}</h2>
                    <p class="myriad-text">Le <strong>{{ carte.nom }}</strong> est un <i>{{ carte.type }}</i> qui produit un cru <i>{{ carte.cru }}</i>
                        dans la région : {{ carte.region }}, elle s'étends sur une supèreficie de {{ carte.superficie }} m&#178; </p>

                </aside>
            </section>
            <section id="carte-complmt">

            <!--
            Cartes intéractive
            <section>
                <h3>Coordonées :</h3>
            </section> -->
                <div class="partenaire">
                    <h2 class="avenir-text">Vignerons partenaire : </h2>

                    <a href={{ path('app_vigneron_show', {id: carte.vignerons.id})}}>{{ carte.vignerons.NomPrenom }}</a>
                </div>
            </section>
            <footer id="show-carte-footer">

            </footer>
        </main>

    </div>

{% endblock %}

{% block title %}

{% endblock %}

