{% extends 'base.html.twig' %}

{% block body %}
    <pre>
        <div class ="carte">
            <span class="carteNom">
                {{ carte.nom }}
            </span>
            <span class="carteType">
                {{ carte.type }}
            </span>
            <span class="carteCru">
                {{ carte.cru }}
            </span>
            <span class="carteRegion">
                {{ carte.region }}
            </span>
            <span class="carteSuperficie">
                {{ carte.superficie }}
            </span>
        </div>
    </pre>
{% endblock %}

{% block title %}

{% endblock %}

